<header class="site-header">

  <div class="nav" style="max-width:960px">

      <ul id="oid">
          
          <li >
                  <a class="nav-link"  href="{{ site.baseurl }}/">HOME  | </a>
              {% for my_page in site.pages %}
               {% if my_page.title %}
                  <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}" >{{ my_page.title }}  |  </a>
               {% endif %}
              {% endfor %}

          </li>
          
          
      </ul>

</div>  
     
      



</header>
